.sign-in{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5%;
  text-align: center;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.527);
  transition: 0.3s;
  background-color: #3f51b58f;
  padding: 2em;
  border-radius: 15px;

}

.sign-in>form{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.sign-in>form>input {
  margin: 4%;
}
.sign-in>form>button{
  margin: auto;
  width: 70%;
}

@media only screen and (max-width: 600px){
  .sign-in{
      width: 75%;
  }
  h1{
      font-size: 12px;
  }
}